h1{
    padding-top: 5px;
    font-size: 20px;
}

#header{
    padding: 10px;
    text-align: center;
    background-color: #ffba49;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly
}

.nav ul li:hover{
    transition: 0.3;
    color: white;
}